<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GEPROYE{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">  
</head>
<body class="p-2 m-1 row">
  <nav class="navbar navbar-expand-xl rounded mb-1">
      <div class="container">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-book"></i> GEPROYE</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item rounded m-1">
            <a class="nav-link" href="/"><i class="fa-solid fa-home"></i>Inicio</a>
          </li>
          <li class="nav-item bg-warning rounded m-1">
            <a class="nav-link" href="/compare"><i class="fa-solid fa-eye"></i> Comparar bases de datos</a>
          </li>          
        </ul>
      </div>
    </div>
  </nav>
  
  {% block body %}
       
  {% endblock %}
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='fontawesome/js/all.js') }}"></script>
</body>
</html>