{% extends "layouts/index.html" %}

{% block title %}Comparar DBs{% endblock %}

{% block body %}        
<div class="row mt-1">
    <div class="row text-center mb-2">
        <div class="col">
            <!-- Modal para crear respaldo -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-plus"></i>
                Crear respaldo
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar modificación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Al confirmar la creación de este respaldo, todos los datos que se encuentren en la base de datos de respaldo serán sobreescritos por los datos de la base de datos original.
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a name="" id="" class="btn btn-danger" href="/backup" role="button">Crear respaldo</a>
                    </div>
                </div>
                </div>
            </div>
            
            <!-- Modal actualizar bd -->
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-repeat"></i>
                Actualizar la base de datos original en base a la segunda
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar modificación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Al confirmar la copia de los datos, todos los datos que se encuentren en la base de datos original serán sobreescritos por los datos de la base de datos de respaldo.
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a name="" id="" class="btn btn-secondary" href="/update2" role="button">Actualizar la base de datos original en base a la segunda</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 card">
        <h4 class="card-text">Lista de proyectos</h4>                   
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Id de proyecto</th>
                            <th scope="col">Nombre de proyecto</th>
                            <th scope="col">Fecha_inicio</th>
                            <th scope="col">Fecha_termino</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>                                
                    <tbody>
                    {% for proyecto in proyectos_1 %}                                    
                        <tr class="">
                            <td scope="row">{{ proyecto.id }}</td>
                            <td scope="row">{{ proyecto.nombre }}</td>
                            <td scope="row">{{ proyecto.fecha_inicio }}</td>
                            <td scope="row">{{ proyecto.fecha_termino }}</td>
                            <td scope="row">{{ proyecto.estado }}</td>
                        </tr>                                    
                    {% endfor %}
                    </tbody>                                
                </table>
            </div>                            
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Id del proyecto</th>
                            <th scope="col">Iteración del proyecto</th>
                            <th scope="col">Fecha_inicio</th>
                            <th scope="col">Fecha_termino</th>
                            
                        </tr>
                    </thead>                                
                    <tbody>
                    {% for proyecto in proyectos_1_iteraciones %}                                    
                        <tr class="">
                            <td scope="row">{{ proyecto.fk_proyecto }}</td>
                            <td scope="row">{{ proyecto.id }}</td>
                            <td scope="row">{{ proyecto.fecha_inicio }}</td>
                            <td scope="row">{{ proyecto.fecha_termino }}</td>                                        
                        </tr>                                    
                    {% endfor %}
                    </tbody>                                
                </table>
            </div>                            
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Nombre de integrante</th>
                            <th scope="col">Id de proyecto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cargo</th>
                        </tr>
                    </thead>                                
                    <tbody>
                    {% for proyecto in proyectos_1_integrantes %}                                    
                        <tr class="">
                            <td scope="row">{{ proyecto.id }}</td>
                            <td scope="row">{{ proyecto.fk_proyecto }}</td>
                            <td scope="row">{{ proyecto.nombre }}</td>
                            <td scope="row">{{ proyecto.cargo }}</td>
                        </tr>                                    
                    {% endfor %}
                    </tbody>                                
                </table>
            </div>                            
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Id de proyecto</th>
                            <th scope="col">Id de requisito</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Tipo</th>
                        </tr>
                    </thead>                                
                    <tbody>
                    {% for proyecto in proyectos_1_requisitos %}                                    
                        <tr class="">
                            <td scope="row">{{ proyecto.fk_proyecto }}</td>
                            <td scope="row">{{ proyecto.id }}</td>
                            <td scope="row">{{ proyecto.descripcion }}</td>
                            <td scope="row">{{ proyecto.tipo }}</td>
                        </tr>                                    
                    {% endfor %}
                    </tbody>                                
                </table>
            </div>
    </div>

    <div class="col-6 card">
        <h4 class="card-text">Lista de proyectos</h4>            
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Id de proyecto</th>
                        <th scope="col">Nombre de proyecto</th>
                        <th scope="col">Fecha_inicio</th>
                        <th scope="col">Fecha_termino</th>
                        <th scope="col">Estado</th>

                    </tr>
                </thead>                                
                <tbody>
                {% for proyecto in proyectos_2 %}                                    
                    <tr class="">
                        <td scope="row">{{ proyecto.id }}</td>
                        <td scope="row">{{ proyecto.nombre }}</td>
                        <td scope="row">{{ proyecto.fecha_inicio }}</td>
                        <td scope="row">{{ proyecto.fecha_termino }}</td>
                        <td scope="row">{{ proyecto.estado }}</td>
                    </tr>                                    
                {% endfor %}
                </tbody>                                
            </table>
        </div>                            
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Id de proyecto</th>
                        <th scope="col">Iteración del proyecto</th>
                        <th scope="col">Fecha_inicio</th>
                        <th scope="col">Fecha_termino</th>
                        
                    </tr>
                </thead>                                
                <tbody>
                {% for proyecto in proyectos_2_iteraciones %}                                    
                    <tr class="">
                        <td scope="row">{{ proyecto.fk_proyecto }}</td>
                        <td scope="row">{{ proyecto.id }}</td>
                        <td scope="row">{{ proyecto.fecha_inicio }}</td>
                        <td scope="row">{{ proyecto.fecha_termino }}</td>
                        
                    </tr>                                    
                {% endfor %}
                </tbody>                                
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Nombre de integrante</th>
                        <th scope="col">Id de proyecto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cargo</th>
                    </tr>
                </thead>                                
                <tbody>
                {% for proyecto in proyectos_2_integrantes %}                                    
                    <tr class="">
                        <td scope="row">{{ proyecto.id }}</td>
                        <td scope="row">{{ proyecto.fk_proyecto }}</td>
                        <td scope="row">{{ proyecto.nombre }}</td>
                        <td scope="row">{{ proyecto.cargo }}</td>
                    </tr>                                    
                {% endfor %}
                </tbody>                                
            </table>
        </div>                            
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Id de proyecto</th>
                        <th scope="col">Id de requisito</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Tipo</th>
                    </tr>
                </thead>                                
                <tbody>
                {% for proyecto in proyectos_2_requisitos %}                                    
                    <tr class="">
                        <td scope="row">{{ proyecto.fk_proyecto }}</td>
                        <td scope="row">{{ proyecto.id }}</td>
                        <td scope="row">{{ proyecto.descripcion }}</td>
                        <td scope="row">{{ proyecto.tipo }}</td>
                    </tr>                                    
                {% endfor %}
                </tbody>                                
            </table>
        </div>
    </div>

    <div class="row mt-2" fade> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="d-flex align-items-center justify-content-center">
                    {% for category,message in messages %}
                        <div class="alert col-lg-12  alert-{{category}} alert-dismissible show fade" role="alert">
                            <strong>{{message}}</strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                        
                        </div>    
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        </div>
    </div>
</div>       
{% endblock %}
