{% extends "layouts/index.html" %}

{% block title %}Editar integrante{% endblock %}

{% block body %}
<div class="row mt-1">
    <div class="col-6">
        <h4 class="card-text">Proyecto: {{proyecto.nombre}}</h4>            
        <div class="table-responsive">        
                <table class="table table-primary table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre del proyecto</th>                                        
                            <th scope="col">Id del requisito</th>
                            <th scope="col">Tipo de requisito</th>
                            <th scope="col">Descripción de requisito</th>
                        </tr>
                    </thead>                                
                    <tbody>                                                                                  
                        <tr class="">
                            <td scope="row">{{ proyecto.nombre }}</td>
                            <td scope="row">{{ requisito.id }}</td>
                            <td scope="row">{{ requisito.tipo }}</td>
                            <td scope="row">{{ requisito.descripcion }}</td>
                        </tr>                                                                    
                    </tbody>                                
                </table>                                               
        </div>
    </div>

    <div class="col-6">                
        <h4 class="card-title">Formulario de edición de proyecto</h4>
        <div class="mt-2">          
            <form action="/editarRequisito/{{proyecto.id}}/{{requisito.id}}" method="POST">
                <div class="">                    
                    <div class="form-floating mb-3">
                        <input type="text" name="id" id="id" value="{{requisito.id}}" disabled class="form-control">
                        <label for="id">Id del requisito:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="tipo" id="tipo" value="{{requisito.tipo}}" class="form-control" placeholder=" ">
                        <label for="tipo">Tipo de requisito:</label>                    
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="descripcion" id="descripcion" value="{{requisito.descripcion}}" class="form-control">
                        <label for="descripcion">Descripción de requisito:</label>
                    </div>
                </div>
                <div class="text-center mb-2">
                    <button class="btn btn-primary btn-lg" type="submit">
                        <i class="fa-solid fa-add"></i> Actualizar requisito
                    </button>
                </div>
            </form>
        </div>
    </div>    
</div>           
    <div class="row mt-2" fade> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="d-flex align-items-center justify-content-center">
                    {% for category,message in messages %}
                        <div class="alert col-lg-12  alert-{{category}} alert-dismissible show fade" role="alert">
                            <strong>{{message}}</strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                        
                        </div>    
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        </div>
{% endblock %}