{% extends "layouts/index.html" %}

{% block title %}Editar proyecto{% endblock %}

{% block body %}
<div class="row">
    <div class="col-6">
        <h4 class="card-text">Proyecto {{proyecto.nombre}}</h4>            
        <div class="table-responsive">
            <table class="table table-primary table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id del proyecto</th>
                        <th scope="col">Nombre del proyecto</th>                                        
                        <th scope="col">Fecha_inicio</th>
                        <th scope="col">Fecha_termino</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>                                
                <tbody>                                                                                  
                    <tr class="">
                        <td scope="row">{{ proyecto.id }}</td>
                        <td scope="row">{{ proyecto.nombre }}</td>
                        <td scope="row">{{ proyecto.fechaInicio }}</td>
                        <td scope="row">{{ proyecto.fechaTermino }}</td>
                        <td scope="row">{{ proyecto.estado }}</td>
                    </tr>                                                                    
                </tbody>                                
            </table>                                                                    
        </div>                
    </div>

    <div class="col-6">
        <h4 class="card-title">Formulario de edición de proyecto</h4>
        <div class="mt-2">          
            <form action="/editarProyecto/{{proyecto.id}}" method="POST">
                <div class="">                    
                    <div class="form-floating mb-3">
                        <input type="number" name="fk_proyecto" id="fk_proyecto" value="{{proyecto.id}}" class="form-control" hidden placeholder=" ">
                        <label for="fk_proyecto">Id de proyecto:</label>                    
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="nombre" id="nombre" value="{{proyecto.nombre}}" class="form-control" placeholder=" ">
                        <label for="nombre">Nombre de proyecto:</label>                    
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input type="date" name="fecha_inicio" id="fecha_inicio" class="form-control" value="{{proyecto.fechaInicio}}" placeholder=" ">
                        <label for="fecha_inicio">Fecha de inicio de iteración:</label>                    
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" name="fecha_termino" id="fecha_termino" class="form-control" value="{{proyecto.fechaTermino}}" placeholder=" ">
                        <label for="fecha_termino">Fecha de término de iteración:</label>                    
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="estado" id="estado" value="{{proyecto.estado}}" class="form-control">
                        <label for="estado">Estado del proyecto:</label>
                    </div>
                </div>
                <div class="text-center mb-2">
                    <button class="btn btn-primary btn-lg" type="submit">
                        <i class="fa-solid fa-add"></i> Actualizar proyecto
                    </button>
                </div>
            </form>
        </div>
    </div>    
</div>   
    <div class="row mt-2" fade> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="d-flex align-items-center justify-content-center">
                    {% for category,message in messages %}
                        <div class="alert col-lg-12  alert-{{category}} alert-dismissible show fade" role="alert">
                            <strong>{{message}}</strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                        
                        </div>    
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        </div>

{% endblock %}