{% extends "layouts/index.html" %}

{% block title %}Página principal{% endblock %}

{% block body %}        
<div class="row mt-1">
    <div class="col-6 card">
        <h4 class="card-text">Lista de proyectos</h4>            
            <div class="border">
                <div class="navbar">
                    <div class="nav-item">
                        <div class="table-responsive-xl">
                            <table class="table table-primary">
                                <thead>
                                    <tr>
                                        <th scope="col">Id de proyecto</th>
                                        <th scope="col">Nombre de proyecto</th>
                                        <th scope="col">Fecha_inicio</th>
                                        <th scope="col">Fecha_termino</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>                                
                                <tbody>
                                {% for proyecto in proyectos %}                                    
                                    <tr class="">
                                        <td scope="row">{{ proyecto.id }}</td>
                                        <td scope="row">{{ proyecto.nombre }}</td>
                                        <td scope="row">{{ proyecto.fecha_inicio }}</td>
                                        <td scope="row">{{ proyecto.fecha_termino }}</td>
                                        <td scope="row">{{ proyecto.estado }}</td>
                                        <td scope="row">
                                            <div class="nav-item">                            
                                                <a class="btn btn-success m-1" href="/integrantes/{{proyecto.id}}" role="button"><i class="fa-solid fa-edit"></i>Integrantes</a>
                                                <a class="btn btn-primary m-1" href="/editarProyecto/{{proyecto.id}}" role="button"><i class="fa-regular fa-edit"></i>Editar</a>                                                    
                                                <a class="btn btn-warning m-1" href="/iteraciones/{{proyecto.id}}" role="button"><i class="fa-regular fa-eye"></i>Iteraciones</a>
                                                <a class="btn btn-danger m-1" href="/eliminarProyecto/{{proyecto.id}}" role="button"><i class="fa-solid fa-x"></i>Eliminar</a>                                                
                                                <a class="btn btn-info m-1" href="/requisitos/{{proyecto.id}}" role="button"><i class="fa-solid fa-book"></i>Requisitos</a>                                                                                                                    
                                            </div>
                                        </td>
                                    </tr>                                    
                                {% endfor %}
                                </tbody>                                
                            </table>
                        </div>                            
                    </div>
                </div>                                        
            </div>                
    </div>

    <div class="col-6">                
        <div class="row">
            <form action="/crearProyecto" method="POST">
                <div class="card">          
                    <div class="card-body">
                        <h4 class="card-title">Formulario de creación de proyectos</h4>
                        <div class="form-floating mb-3">
                            <input type="number" name="id" id="id" class="form-control" placeholder=" ">
                            <label for="id">Id de proyecto:</label>                    
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" name="nombre" id="nombre" class="form-control" placeholder=" ">
                            <label for="nombre">Nombre de proyecto:</label>                    
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" name="fecha_inicio" id="fecha_inicio" class="form-control" placeholder=" ">
                            <label for="fecha_inicio">Fecha de inicio:</label>                    
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" name="fecha_termino" id="fecha_termino" class="form-control" placeholder=" ">
                            <label for="fecha_termino">Fecha de termino:</label>                    
                        </div>                
                    </div>
                    <div class="text-center mb-2">
                        <button class="btn btn-primary btn-lg" type="submit">
                            <i class="fa-solid fa-add"></i> Crear proyecto
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row mt-2" fade> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="d-flex align-items-center justify-content-center">
                    {% for category,message in messages %}
                        <div class="alert col-lg-12  alert-{{category}} alert-dismissible show fade" role="alert">
                            <strong>{{message}}</strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                        
                        </div>    
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        </div>

    </div>
</div>       
{% endblock %}
